{% extends "base.html" %}
{% block content %}
<div>
<script>
roomid = {{roomid}}
function ParsePacket(pktStr) {
  pkt = JSON.parse(pktStr)
  console.log(pkt)
  console.log(pkt['type'])
  if (pkt['type'] == 'UpdateRoomInfo') {
    console.log('in')
    $('#room_number').text('您现在在' + roomid + '号房间');
    $('#room_admin').text('房主是' + pkt['roomAdmin']);
    $('#user_list').text('用户有' + pkt['userList']);
  } else {
    
  }
}
function AskOneMsg() {
  $.post("{{action_url}}", 
  {
    action: 'AskOneMsg',
    roomid: roomid
  }, 
  function(data, status) {
    ParsePacket(data);
  });
}
$(document).ready(function() {
  AskOneMsg();
  setInterval(AskOneMsg, 1000);
});
</script>
  <div class='basic_room_info'>
    <p id='room_number'>您现在在号房间</h1>
    <p id='room_admin'>房主是</h2>
    <p id='user_list'>用户有</p>
    <button onclick='AskOneMsg()'>AskOneMsg</button>
  </div>
</div>
{% endblock %}
